body {
  background-color: #EFFFFA;
}

#meu-nome {
  font-family: fantasy;
}

#descricao-foto {
  font-family: serif;
}

i {
  color: purple;
  text-decoration: underline dotted purple;
}

b {
  color: red;
  text-decoration: underline wavy red;
}

.desenhar {
  font-size: 1.25em;
}

.cozinhar {
  font-size: 1.125em;
}

.tirar-foto {
  font-size: 0.875em;
}